#d1{
    width: 90vw;
    height: 20px;
    background-color: brown;
}
#d2{
    width: 80vw;
    height: 20px;
    background-color: rgb(106, 32, 217);
    margin-top:2mm;
}
#d3{
    width: 60vw;
    height: 20px;
    background-color: rgb(134, 165, 42);
    margin-top:2mm;
}
#d4{
    width: 50vw;
    height: 20px;
    background-color: rgb(194, 183, 221);
    margin-top:2mm;
}
#d5{
    width: 48vw;
    height: 20px;
    background-color: rgb(165, 118, 42);
    margin-top:2mm;
}
#d6{
    width: 45vw;
    height: 20px;
    background-color: brown;
    margin-top:2mm;
}
#d7{
    width: 40vw;
    height: 20px;
    background-color:coral;
    margin-top:7px;
}
#d8{
    width: 38vw;
    height: 20px;
    background-color: crimson;
    margin-top:7px;
  
}
#d9{
    width: 38vw;
    height: 20px;
    background-color: rgb(93, 20, 220);
    margin-top:7px;
  
}
#d10{
    width: 40vw;
    height: 20px;
    background-color: rgb(113, 8, 29);
    margin-top:7px;
  
}
#d11{
    width: 45vw;
    height: 20px;
    background-color: crimson;
    margin-top:7px;
  
}
#d12{
    width: 48vw;
    height: 20px;
    background-color: rgb(20, 220, 27);
    margin-top:7px;
  
}
#d13{
    width: 50vw;
    height: 20px;
    background-color: crimson;
    margin-top:7px;
  
}
#d14{
    width: 60vw;
    height: 20px;
    background-color:antiquewhite;
    margin-top:7px;
  
}
#d15{
    width: 80vw;
    height: 20px;
    background-color: crimson;
    margin-top:7px;
  
}
#d16{
    width: 90vw;
    height: 20px;
    background-color: rgb(110, 20, 220);
    margin-top:7px;
  
}
div{
    margin:auto;
}
